
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(10px);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #e2e8f0;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, #6366f1, #06b6d4);
}

.hero h1 {
    font-size: 42px;
}

.hero p {
    margin-top: 10px;
    color: #dbeafe;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: white;
    color: #111;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
}

/* Sections */
section {
    width: 85%;
    margin: 40px auto;
}

/* About */
.about-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.about-container img {
    width: 160px;
    border-radius: 50%;
}

/* Skills */
.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills li {
    list-style: none;
    padding: 8px 15px;
    background: #1e293b;
    border-radius: 20px;
}

/* Projects */
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
    border: 1px solid #334155;
}

.card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
}

/* Resume */
.resume a {
    display: inline-block;
    padding: 12px 20px;
    background: #38bdf8;
    color: #0f172a;
    border-radius: 8px;
    text-decoration: none;
}

/* Contact */
.contact p {
    margin: 8px 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #334155;
    margin-top: 40px;
}


@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
    }
}
